/* Birds.css */

.image {
  max-width: 80%;
  max-height: 600px; /* Set your desired max height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}

.slick-slide {
  display: flex;
  justify-content: center; /* Center the images */
  align-items: center; /* Center images vertically */
}

